*{
    margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;
    /*font-family: "微软雅黑";*/
}
span {
    font-size:18px;
}
#box {
    width: 100%;
    font:25px/25px 宋体;
    background:#000;
    color:#9f9;
    border:#bbb 10px ridge;
    text-shadow:2px 3px 1px #0f0;
    background: #000 url(../img/bg.jpg) repeat;
    background-size: cover;
}