*{
    margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;
    /*font-family: "微软雅黑";*/
}
span {
    font-size:18px;
}
#box {
    width: 100%;
<<<<<<< HEAD:css/index.css
=======
    height: 700px;
    overflow: hidden;
>>>>>>> 7724acaa2b789e685e1b0a9bc6139c186933518d:cc0410/css/index.css
    font:25px/25px 宋体;
    color:#9f9;
    box-sizing:border-box;  /*怪异盒模型，这样border就在宽高里面了*/
    border:#bbb 10px ridge;
    text-shadow:2px 3px 1px #0f0;
    background: url(../img/bg2.jpg) repeat;
    background-size:100%;
}