html{font-size: 15px;/*rem的参考*/}
@media screen and (min-width:400px){
    html{
        font-size: 18px;
    }
}
body{
    font-size: 14px;
    font-family: "方正舒体";
    padding-top: 45px;
    background-color: #f2f2f2;
}
header{
    position: fixed;
    left: 50%;
    top: 0;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #CCCCCC;
    max-width: 540px;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    padding-right: 60px;
    padding-left: 10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background-color: #F6F6F6;
    z-index: 999;margin: 0 auto;
}
#title{
    text-align: center;
    font-family: 方正舒体;
    color: mediumaquamarine;
}
/**{*/
    /*margin:0 auto;*/
    /*padding:0;*/
    /*list-style:none;*/
    /*text-decoration:none;*/
    /*!*font-family: "微软雅黑";*!*/
/*}*/
span {
    font-size:18px;
}
#box {
    width: 100%;
    height: 700px;
    overflow: hidden;
    font:25px/25px 宋体;
    color:#9f9;
    box-sizing:border-box;  /*怪异盒模型，这样border就在宽高里面了*/
    border:#bbb 10px ridge;
    text-shadow:2px 3px 1px #0f0;
<<<<<<< HEAD:cc0410/css/index.css
    background: url(../img/bg2.jpg) repeat;
    background-size:100%;
}
=======
    background: #000 url(../img/bg.jpg) repeat;
    background-size: cover;
}
footer{margin: 0 auto;}
#turn,#move,#quick{text-align: center;}
>>>>>>> 6066d530d87664c2a1f08c998a4e4bebe08d04db:css/index.css
